<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person"
        class="com.kodecta.spring.test.Person">
    </bean>
    <bean id = "tiger_constructor" class = "com.kodecta.spring.test.Tiger">
        <constructor-arg type = "java.lang.String" value = "bengalski"/>
        <constructor-arg type = "java.lang.String" value = "bijela"/>
    </bean>


    <bean id="tiger_properties" class="com.kodecta.spring.test.Tiger">
        <property name="name">
            <value>sibirski</value>
        </property>
        <property name="color">
            <value>neka boja</value>
        </property>
    </bean>


</beans>