<?xml version="1.0" encoding="UTF-8"?>
        <beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="game" class="com.kodecta.spring.academy.springtask3.GameImpl">
        <constructor-arg index="0" value="480"/>
        <constructor-arg index="1" ref="player"/>
        <constructor-arg index="2" ref="player"/>
        <property name="goal" value="480"/>
    </bean>

    <bean id="dice" class="com.kodecta.spring.academy.springtask3.Dice6"/>

        <bean id="player" class="com.kodecta.spring.academy.springtask3.PlayerImpl" scope="prototype">
               <property name="Dice" ref="dice"/>
        </bean>




        </beans>