<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person"
          class="com.kodecta.tutorial1.Person">
    </bean>

    <bean id="zoo" class="com.kodecta.tutorial1.Zoo">
        <constructor-arg value="Zoo 1"/>
        <property name="tiger">
            <bean id="tiger" class="com.kodecta.tutorial1.Tiger">
                <property name="voice" value="Argh"></property>
            </bean>
        </property>
    </bean>

    <bean id="elephant" class="com.kodecta.tutorial1.Elephant">
        <property name="voice" value="Prfff"/>
    </bean>

    <bean id="zoo2" class="com.kodecta.tutorial1.Zoo">
        <constructor-arg ref="elephant"></constructor-arg>
    </bean>
</beans>